PROVIDER_A_NAME=Provider_A
PROVIDER_A_SMSC=localhost:2775
PROVIDER_A_SYSTEM_ID=smppclient1
PROVIDER_A_PASSWORD=password
PROVIDER_A_MAX_OUTSTANDINGD=100

PROVIDER_B_NAME=Provider_B
PROVIDER_B_SMSC=localhost:2775
PROVIDER_B_SYSTEM_ID=smppclient2
PROVIDER_B_PASSWORD=password
PROVIDER_B_MAX_OUTSTANDING=100